.card {
  width: 260px;
  height: 420px;
  border: 1px solid #527ccd;
  user-select: none;

  &Inner {
    padding: 20px;
    height: 100%;
  }
}

.date {
  font-family: Roboto;
  font-style: normal;
  font-size: 12px;
  color: #527ccd;
  opacity: 0.6;
  margin-top: 10px;
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #527ccd;
}

.content {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #527ccd;
}
