.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content {
  width: 1160px;
  overflow-x: hidden;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &Inner {
    display: flex;
    align-items: center;
  }
}

.title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 50px;
  color: #527ccd;
}

.buttons {
  display: flex;
  gap: 40px;
}

.box {
  display: flex;
  gap: 40px;
  transition-duration: 200ms;
}

@media (max-width: 1160px) {
  .content {
    width: 860px;
  }
}
@media (max-width: 860px) {
  .content {
    width: 560px;
  }
}
@media (max-width: 560px) {
  .content {
    width: 300px;
  }
}
