.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content {
  width: 1160px;
}

.nav {
  display: flex;
  justify-content: space-between;
  &Inner {
    display: flex;
    align-items: center;
  }
}

.title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 50px;
  color: #527ccd;
}

.buttons {
  display: flex;
  gap: 40px;
}

.box {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
